# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\OnTap_bai4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
